<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Total Users</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalUsers }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Total Influencers</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalInfluencers }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Total Sponsors</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalSponsors }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Total Campaigns</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalCampaigns }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">Total Ad Requests</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalAdRequests }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>